body {
    background-color: #F3ECE2;
    margin: 0;
}

#app-name {
    font-size: 34px;
    font-weight: bold;
    color:#a3def3;
}

#blog-text {
    font-size: 20px;
    font-family: italic;
    color:#a3def3;

}

h1 {
    text-align: center;
    font-family: 'Courier New', monospace;
  
}

.input-group {
    padding: 5px;
}
